variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  DOCKER_TLS_CERTDIR: ""

stages:
  - test
  - build
  - deploy

cache:
  paths:
    - .cache/pip

test:
  image: python:3.11-slim
  stage: test
  before_script:
    - python -V
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - mkdir -p reports
    - pytest --junitxml=reports/junit.xml -q
  artifacts:
    when: always
    reports:
      junit: reports/junit.xml
    paths:
      - reports/

build:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:latest"
    - docker push "$CI_REGISTRY_IMAGE:latest"
  only:
    - branches
