variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  DOCKER_TLS_CERTDIR: ""

stages:
  - test
  - build
  - deploy

cache:
  paths:
    - .cache/pip

test:
  image: python:3.11-slim
  stage: test
  before_script:
    - python -V
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - mkdir -p reports
    - pytest --junitxml=reports/junit.xml -q
  artifacts:
    when: always
    reports:
      junit: reports/junit.xml
    paths:
      - reports/

build:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:latest"
    - docker push "$CI_REGISTRY_IMAGE:latest"
  only:
    - branches

deploy:
  image: alpine:latest
  stage: deploy
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$PROD_SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -p "${PROD_SSH_PORT:-22}" "$PROD_SERVER" >> ~/.ssh/known_hosts
  script:
    - ssh -p "${PROD_SSH_PORT:-22}" "$PROD_SSH_USER@$PROD_SERVER" "docker pull $CI_REGISTRY_IMAGE:latest && docker-compose -f /path/to/docker-compose.yml up -d --remove-orphans"
  environment:
    name: production
    url: http://$PROD_SERVER
  when: manual
  only:
    - main
    - master
    - dev